@import "tailwindcss";

:root {
  --color-primary: #3b82f6; /* Blue 500 */
  --color-primary-hover: #2563eb; /* Blue 600 */
  --color-secondary: #10b981; /* Emerald 500 */
}

body {
  background-color: #f9fafb;
  color: #111827;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
